HOST_A_USER=root
HOST_A_IPV6=2600:3c18::2000:4dff:fe9b:3360
HOST_A_WG_INTERFACE=wgs2smesh0
HOST_A_GRE_INTERFACE=gre2hnd1pve1

HOST_B_USER=ubuntu
HOST_B_IPV6=240b:10:9f6e:b600:be24:11ff:fe18:6597
HOST_B_WG_INTERFACE=wgs2smesh0
HOST_B_GRE_INTERFACE=gre2tyo3br001

SSH_COMMON_ARGS=-o StrictHostKeyChecking=no
