[defaults]
local_tmp = .ansible/tmp
collections_path = .ansible/collections
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
callback_result_format = yaml

roles_path = roles
