[Match]
Name={{ wireguard_interface }}

[Link]
MTUBytes={{ wireguard_mtu }}

[Network]
{% for address in wireguard_addresses %}
Address={{ address.ip }}/{{ address.prefix }}
{% endfor %}

[Route]
Destination={{ wireguard_subnet.ip }}/{{ wireguard_subnet.prefix }}
