[Match]
Name={{ wireguard_interface }}

[Link]
MTUBytes={{ wireguard_mtu }}

[Network]
{% for address in wireguard_addresses %}
Address={{ address.ip }}/{{ address.prefix }}
{% endfor %}

{% for peer_host in groups["network"] | difference([inventory_hostname]) %}
{% set peer = hostvars[peer_host] %}
{% for address in peer.wireguard_addresses %}
[Route]
Destination={{ address.ip }}/{{ address.prefix }}

{% endfor %}
{% endfor %}
