[NetDev]
Name={{ wireguard_interface }}
Description={{ wireguard_description }}
Kind=wireguard

[WireGuard]
PrivateKeyFile=/etc/systemd/network/{{ wireguard_interface }}.key
ListenPort={{ wireguard_port }}

{% for peer_host in ansible_play_hosts_all | difference([inventory_hostname]) %}
{% set peer = hostvars[peer_host] %}
{% set wireguard_l_psk_seed = wireguard_psk_seed if inventory_hostname < peer_host else peer.wireguard_psk_seed %}
{% set wireguard_r_psk_seed = wireguard_psk_seed if inventory_hostname >= peer_host else peer.wireguard_psk_seed %}
{% set wireguard_psk = lookup("ansible.builtin.pipe", "
{
    printf '%s' " ~ (wireguard_l_psk_seed | quote) ~ " | base64 -d
    printf '%s' " ~ (wireguard_r_psk_seed | quote) ~ " | base64 -d
} | sha256sum | awk '{print $1}' | xxd -r -p | base64
") %}
[WireGuardPeer]
PublicKey={{ peer.wireguard_public_key }}
PresharedKey={{ wireguard_psk }}
AllowedIPs={{ peer.wireguard_addresses | map(attribute="ip") | zip(peer.wireguard_addresses | map(attribute="prefix")) | map("join", "/") | join(", ") }}
Endpoint={{ peer.wireguard_endpoint if peer.wireguard_endpoint | ansible.utils.ipv4 else "[" ~ peer.wireguard_endpoint ~ "]" }}:{{ peer.wireguard_port }}
PersistentKeepalive={{ peer.wireguard_persistent_keepalive }}

{% endfor %}
